<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="qkmaxware" value="https://nuget.pkg.github.com/qkmaxware/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <qkmaxware>
            <add key="Username" value="qkmaxware" />
            <add key="ClearTextPassword" value="84e8f8747e009c25bce36eff6f744b0410546f2a" /> <!-- Public Download Key -->
        </qkmaxware>
    </packageSourceCredentials>
</configuration>